{% extends "ontospyweb/base.html" %}
{% load ontotags %}


{% block pagecontents %}

<div class="row text-center" style="margin-top: 70px;">
  
  
  <div class="col-sm-8 col-md-9  center-block" style="float: none;">
	  
	 <p class="text-muted">Please enter the URL of an RDFS/OWL ontology:</p> 
	  
    <form method="get" action="" class="form-inline" >
		
      <input name="uri" class="col-md-8 col-md-offset-2 input-xlarge" type="text" style="padding: 12px 11px;font-size: 18.5px;" placeholder="http://..." >
	  <input type="hidden" name="startpage" value="true" />  {# hidden param for history count #}
	   
      <button type="submit button" class="btn btn-default" style="padding: 11px 11px; font-size: 21.5px; margin-left: -100px;"> <span class="glyphicon glyphicon-search"></span></button>
	  
	  <p class="text-center"><small class="text-muted">Max file size: 1M</small></p>
	  
    </form>
  </div>
  
</div>


	
{% if history %}

<div class="row " style="margin-top: 80px; margin-bottom: 60px;">

	<div class="col-sm-12 col-md-12  center-block" style="float: none;">
			{# float:none is used to center the view #}
		

			<h3 class="text-center">Recently viewed:</h3>

			<table id="history" class="table table-striped table-condensed table-hover table-responsive " style="table-layout: fixed; word-wrap: break-word;">
				  <thead>
			      <tr>
			          <th class="col-md-4">Vocabulary URI</th>
			          <th class="col-md-6">Description</th>                                         
			          <th class="col-md-1">Last Opened</th>                                         
			          <th class="col-md-1">Tot Clicks</th>                                         
			      </tr>
			  </thead>   
			  <tbody>
  
			  	{% for o in history  %}

				<tr>
			   	 <td ><a href="{% url 'ontodocs_main' subdomain='schema' %}?uri={{o.uri}}&amp;startpage=true"><code>{{o.uri}}</code></a></td>
			   	 <td >{{o.description|truncatewords:30}}</td>
			   	 <td >{{o.pubdate|date:"d/m/Y"}}</td>
			     <td ><span class="badge">{{o.score}}</span></td> 
				</tr>

				{% endfor %}	

                            
			  </tbody>
			</table>
	</div>


</div>
{% endif %}
	
	
	
	
	
{% if local_ontologies %}
	
<div class="row text-center">
	
	
	<div class="col-sm-6 col-md-6  center-block" style="float: none;">
		
		<h3><span class="label label-success">Welcome Admin!</span></h3> 
			<br />
			<p class="text-muted">These are the local files found in {{LOCAL_ONTOLOGIES_FOLDER}}:</p>

		<table id="history" class="table table-striped table-condensed table-hover" >
  
		  <tbody>
	  
		  	{% for o in local_ontologies  %}
	
			<tr>
		   	 <td><a href="{% url 'ontodocs_main' subdomain='schema' %}?uri={{o}}"><code>{{o}}</code></a></td>
			</tr>
  	
			{% endfor %}	

                                
		  </tbody>
		</table>
		
		
	</div>

</div>
{% endif %}






{% endblock pagecontents %}










{% block footer %}

<div class="footer" style="height: inherit; ">
	 <a name="jumptobottom"></a>

  <div class="container namespaces-container">


	  {% include "ontospyweb/components/about.html" %}


  </div>
	
	

	{% include "ontospyweb/components/footer-common.html" %}
  

</div>
{% endblock footer %}
