{% load ontotags %}{% load subdomainurls %}
<div class="page-header">
  <h3>	
	  Classes {# for <code>{{ontoPrettyUri}}</code>   #}    	  
  </h3>	  
  

</div>



<div class="well">
	
{{classtreeTable|safe}}


</div>




{% for classData in classesData  %}
	
<div class="row">
	
  	<div class="page-header">
  	  <h3>

		 <a title="{{classData.class.class}}" class="rdfclass" name="{{classData.class.classname}}">
			 &gt; {{classData.class.classname}}
		 </a>
	  
	  
	  	{% include "ontospyweb/components/backtotop.html" %}
		
  	  </h3>	  
	  
  	</div>

</div>	




<div class="row entityDescriptionRow">
	
	<div class="col-sm-5 col-md-5">
	

		<div id="superclasses">
		
			<br />
			<h4>rdfs:subClassOf</h4>	
	
			<p class="rdfobject" style="margin-left: 20px;">
		 	 	<a title="Go to top" href="#top" class="rdfclass">
					owl:Thing
				</a>
			  {% for class in classData.supers  %}
		 	 	&nbsp;|&nbsp;
				<a title="{{class.class}}" href="#{{class.classname}}" class="rdfclass">
					{{class.classname|truncchar_inverse:50}}
				</a>

			  {% endfor %}
			  
  			</p>

		  
		</div>
	
		
		<div id="triples">
			
		    {% for name, value in classData.alltriples  %}
		  		{% ifchanged name %}
					<br />
					<h4>{{name}}</h4>
				{% endifchanged %}
  
		    	<p class="rdfobject" style="margin-left: 20px;">
		        	{{value|linebreaksbr}}
		   	 	</p>

		    {% endfor %}
			
		</div>

		
		
	</div>



	<div class="col-sm-7 col-md-7">  {# col-md-offset-1 #}
		
			

		{% if classData.allDomainProperties %}
  	
			
			<br />
			<h4 class="text-muted">
				Instances of {{classData.class.classname}} can have the following properties:
			</h4><br />
	
		  	<table border="0" cellspacing="3" cellpadding="5" class="classproperties table-hover">
		
		  		<tr>
		  			<th height="40">Property</th><th>Description</th><th>Expected Type</th>
		  		</tr>
		
		  		{% for innerclass, properties in classData.allDomainProperties  %}		
		
		  		<tr><th colspan="3" height="10"><span style="font-size: 80%;">
		  			Properties 
					{% ifnotequal classData.class.classname innerclass.classname %} inherited {% endifnotequal %}
					from <a title="{{innerclass.class}}" href="#{{innerclass.classname}}" class="rdfclass">{{innerclass.classname|truncchar_inverse:50}}</a></span>
		  		</th>
		  		</tr>		
		
		  		{% for prop in properties  %}
		  		<tr>
		  			<td class="firsttd">
		  				<a class="propcolor" title="{{prop.prop}}" href="#{{prop.propname}}">{{prop.propname|truncchar_inverse:50}}</a>			
		  			</td>
		  			<td class="thirdtd">
		  				<span>{{prop.comment.0}}</span>
		  			</td>
		  			<td class="secondtd">
		  				{% if  prop.range %}
		  				{% for range in prop.range  %}
		  					{% if range.isdefined %}
		  					<a title="{{range.class}}" href="#{{range.classname}}" class="rdfclass">{{range.classname|truncchar_inverse:50}}</a>
		  					{% else %}
		  					{{range.classname|truncchar_inverse:50}}
		  					{% endif %}
		  				{% endfor %}
		  				{% else %}
		  					<i>--</i>
		  				{% endif %}
		  			</td>
		  		</tr>

		  		{% endfor %}
		
		  		{% endfor %}

		  	</table>
	
	
		{% endif %}
	
	
		
		
		
	</div>
	
	

  
     <br />
   
   

</div>	
	
{% endfor %}
