{% extends "ontoview/base.html" %}

{% load ontotags %}{% load subdomainurls %}


{% block pagecontents %}

<div class="row text-center" style="margin-top: 70px;">
  {# <div class="span14 offset2"> #}
	  
	 <p class="muted">Please enter the URL of an RDF vocabulary:</p> 
	  
    <form method="get" action="ontology?" class="form-inline" >
		
      <input name="model" class="span5 input-xlarge" type="text" style="padding: 12px 11px;font-size: 18.5px;" placeholder="http://...">
	  <input type="hidden" name="startpage" value="true" />  {# hidden param for history count #}
	   
      <button type="submit" class="btn" style="padding: 12px 11px; font-size: 21.5px;"> <i class="icon-search "></i></button>
	  
	  <p class="text-center"><small class="muted">Max file size: 1M</small></p>
	  
    </form>
  {# </div> #}
</div>



<style type="text/css" media="screen">
#history {
    margin:0 auto;
    float:none
}
</style>

<div class=" text-center" style="margin-top: 80px; margin-bottom: 60px;">
	
	
	
{% if history %}

	<h3>Recently viewed:</h3>

	<table id="history" class="span8 table table-striped table-condensed table-hover ">
		  <thead>
	      <tr>
	          <th>Vocabulary URI</th>
	          <th>Description</th>                                         
	          <th>Last Opened</th>                                         
	          <th>Tot Clicks</th>                                         
	      </tr>
	  </thead>   
	  <tbody>
  
	  	{% for o in history  %}

		<tr>
	   	 <td><a href="{% url 'ontology' subdomain='schema' %}?model={{o.uri}}&amp;startpage=true"><code>{{o.uri}}</code></a></td>
	   	 <td>{{o.description|truncatewords:30}}</td>
	   	 <td>{{o.pubdate|date:"d/m/Y"}}</td>
	     <td><span class="label">{{o.score}}</span></td> 
		</tr>

		{% endfor %}	

                            
	  </tbody>
	</table>
	
	<br /><br /><br />

{% endif %}
	
	
	
	
	
{% if local_ontologies %}
	

	<h3>Local Files:</h3>

	<table id="history" class="span4 table table-striped table-condensed table-hover" >
		  <thead>
	      <tr>
	          <th>Vocabulary Uri</th>                                        
	      </tr>
	  </thead>   
	  <tbody>
	  
	  	{% for o in local_ontologies  %}
	
		<tr>
	   	 <td><a href="{% url 'ontology' subdomain='schema' %}?model={{o}}"><code>{{o}}</code></a></td>
		</tr>
  	
		{% endfor %}	

                                
	  </tbody>
	</table>

{% endif %}







</div>


{% endblock pagecontents %}
