.clearfix {
    width: 0px !important;
}

form.disconnect-form {
  margin: 0px !important;
}

.tile-stats .count.ontologies {
    font-size: 30px;
}

a.social-dissociate {
    /*
    cursor: pointer !important;
    margin: 0px 5px !important;
    padding: 0px !important;
    //*/
}

.panel {
    border: black 1px solid;
}

.social .row .col-md-2 {
    height: 128px;
}

.social .btn-success, .social .btn-danger {
    width: 100%;
}

.login_content .btn-danger {
    padding: 6px;
    margin: 0px;
}

.also_section {
    margin: 0px;
}

.also_section .row {
    margin: 7px 0px;
    padding-left: 5px;
}

.also_section .row .col-lg-2 {
    padding: 2px 1px;
}

