{% load ontotags %}


{% if namespaces %}


	<div class="namespaces span7">
		
		<h3 style="color: #777777;">Namespaces</h3>
		
		<table border="0" cellspacing="5" cellpadding="5" style="margin-left: -0.5%;">
	        {# <tr><th>Prefix</th><th>Full url</th></tr> #}
			
			{% for x, y in namespaces  %}
			<tr>
				<td><code>{{x}}</code></td>
				<td><a href="{{y}}" target="_blank" class="text-info">{{y}}</a></td>
			</tr>

			{% endfor %}
	
		</table>
		
		<br /><br /><br /><br />
		
		
		
	</div>
	
{% endif %}
