html,body{margin:0;padding:0; }
body{font: 76% arial,sans-serif}
p{margin:0 10px 10px}
/*li{color:black;}
li:hover{color:red;}*/
/*a{display:block;color: #981793;padding:10px}*/
/*a{color: #981793;}*/


.backbutton{ float: right; margin: 10px 10px 10px 10px; }
.backbutton a{ color:black}
.backbutton a:hover{ color:blue }

div#header {background: #EEE; min-height: 125px;}

div#header h1{height:80px;line-height:80px;margin:0;
  padding-left:10px;color: #79B30B; font-size:45px;}

div#header p{margin:10px 10px 20px 10px;
  padding-left:15px;color: black; font-size:17px;}


div#navigation{background:white; font-size: 15px; font-family: "PT Sans", arial, serif;}
div#navigation a {color:black}
div#navigation a:hover {color:blue}

/*div#extra{background:#FF8539; font-size: 15px; font-family: "PT Sans", arial, serif;}*/
div#extra{background:#B9CAFF; font-size: 15px; font-family: "PT Sans", arial, serif;}
div#extra a {color:black}
div#extra a:hover {color:blue}

div.classblock {
	font-family: "PT Sans", arial, serif;
	font-size: 11px;
	letter-spacing: 1px;}


div#classHeader {color: black; clear:both;width:100%; font-size: 100%;}
div#classHeader p {margin:0;padding:5px 10px}
/*div#classHeader:hover {border: 1px red dashed; background:white; font-size: 110%;}*/

div#classHeader .smalllink a {color: black; background:white;}
div#classHeader .smalllink a:hover {color: white; background:black;}

div#classBody {background: white; color: black; clear:both; width:100%; font-size: 80%;}
div#classBody:hover {background: #EEFFFF;}

div#classBody p {margin:0;padding:5px 10px}

div#classBody a{color:black; text-decoration: none;}
div#classBody a:hover {color:red; background:#D4CCCC;}



div#wrapper{float:left;width:100%;margin-left:-33%}
div#content{
	margin-left:33%; 
	padding: 30px 10px 10px 20px;
	}
	
div#content p{line-height:1.4}

a.treelinks{color:black; font-size: 17px;}
a.treelinks:hover{color:red;}

/* cant augment the space between classes in the tree */
/*.jstree a {
padding: 2px 2px;
}*/


div#footer {background: #333;color: #FFF}
div#footer p {margin:0;padding:5px 10px}
div#footer a {color:white;}


div#navigation{float:right;width:32.9%}
div#extra{float:right;clear:right;width:32.9%}

div#footer{
	clear:both;
	width:100%;
	margin: 70px 1px 1px 1px;
	font-size: 80%;
	}
	
.className {
	font-size: 12px;
	}

.smalllink, .smalllink a{
	font-size: 9px;
	color: darkBlue;
	}

.tooltip {
	display:none;
	width:400px;
/*	height:63px;*/
	position:absolute;
	padding:20px;
	color:#000;		
	background-color:#fff;
	border: dashed 1px;
	-moz-border-radius:4px;
}

.trigger {
	border:1px solid #ccc;
	background-color:#eee;
	display:block;
	padding:5px 10px;
	width:100px;
	margin:0 20px 10px 0;
	float:left;
	text-align:center;
	-moz-border-radius:4px;
}



#center-left {
	float: left;
	width: 50%;
	height: 400px;
	overflow: auto;
/*	border: 1px dashed red;*/
}


#center-right {
	float: right;
	width: 49%;
	height: 400px;
	overflow: auto;
}




#center-left table {
	font-size: 10px;
	text-align: left;
}
