body {
	font-family: sans-serif;
	text-align: center;
}

form {
	margin-top: 40px;
	margin-bottom: 50px;
}


input.submit {
	margin-top: 30px;
	margin-bottom: 40px;
}

.theform td, input {
	font-size: 25px;
}

.bookmarklet {
	border-top: solid 1px #c6c6c6;
	border-left: solid 1px #c6c6c6;
	border-bottom: solid 1px #969696;
	border-right: solid 1px #969696;
	background-color: #e9e9e9;
	padding: 2px;
	text-decoration: none;
	color: #000000;
	font-family: sans-serif;
	font-size: 90%;
	font-weight: bold;
}


a {color: black;}
a:hover { text-decoration: underline; color: blue;}



table.suggestions {
	color: black;
}

table.suggestions a{
/*	color: grey;*/
	color: black;
	background: #edbebe; /* #C2B8B8;  */
}
table.suggestions a:hover{
	text-decoration: underline; 
	color: blue;
}



div#footer{
	clear:both;
	width:100%;
	margin: 70px 1px 1px 1px;
	font-size: 70%;
	}